<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="An online educational resource for learning Old English" />
    <link rel="stylesheet" href="{{ '/styles/bootstrap.min.css' | url }}" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ '/styles/oeccss.css' | url }}" />
    <link rel="icon" href="{{ '/images/favicon.png' | url }}" />
    <title>{{ title or "Old English Online" }}</title>
  </head>
  <body class="container-fluid">
    {% include "partials/header.njk" %}
    <main id="mainwrapper" class="container">
      {{ content | safe }}
    </main>
    {% include "partials/footer.njk" %}
    <script>
      window.BASE_PATH = "{{ '/' | url }}";
    </script>
    <script src="{{ '/scripts/jquery.min.js' | url }}"></script>
    <script src="{{ '/scripts/bootstrap.min.js' | url }}"></script>
    <script src="{{ '/scripts/app.js' | url }}" defer></script>
  </body>
</html>
