---
layout: layouts/base.njk
title: I-Mutation - Old English Online
---

<section class="row">
  <div class="col-12">
    <div class="bc-icons-2">
      <!-- Breadcrumb-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="black-text" href="{{ '/course/' | url }}">Index</a>
          <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
        </li>
        <li class="breadcrumb-item">
          <a class="black-text" href="{{ '/course/weak-minor-and-nouns/' | url }}"
            >Introduction to Weak and Minor Nouns</a
          >
          <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
        </li>
        <li class="breadcrumb-item">
          <a class="black-text" href="{{ '/course/weak-and-minor-nouns/weak-nouns/' | url }}"> Weak Nouns</a>
          <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
        </li>
        <li class="breadcrumb-item">
          <a class="black-text" href="{{ '/course/weak-minor-and-nouns/minor-nouns/' | url }}"> Minor Nouns</a>
          <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
        </li>
        <li class="breadcrumb-item active">
          i-Mutation
          <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
        </li>
        <li class="breadcrumb-item">
          <a class="black-text" href="{{ '/course/weak-minor-and-nouns/overview/' | url }}"> Nouns Overview</a>
        </li>
      </ol>
    </div>
    <!--Close Breadcrumb-->
    <h2>I-Mutation</h2>
    <p>
      <span class="initial-letter darkorange-text">I</span>n the terminology of linguistics,
      mutation is a change in a vowel sound caused by a sound in the following syllable. I-mutation
      is a change in the sound of a vowel so that it is pronounced with the tongue higher and
      further forward. Because i-mutation happened very early in the development of Old English, and
      it affects all areas of the language, it is worth examining the linguistic reasons behind why
      it occurs, and the rules that govern it.
    </p>
    <h3>What causes i-mutation?</h3>
    <p>
      I-mutation was a series of changes to
      <abbr tabindex="0" title="Initial vowels are the first vowel in a word">initial vowels</abbr>
      which took place when there was a high front vowel, usually
      <button class="audio-button darkorange-text">[i]</button>
      <audio class="audio-link">
        (but also
        <source
          src="{{ '/assets/audio/Close_front_unrounded_vowel.mp3' | url }}"
          type="audio/mp3"
        /></audio
      >, <button class="audio-button darkorange-text">[ɪ]</button>
      <audio class="audio-link">
        <source
          src="{{ '/assets/audio/Near-close_near-front_unrounded_vowel.mp3' | url }}"
          type="audio/mp3"
        />
      </audio>
      or <button class="audio-button darkorange-text">[j]</button>
      <audio class="audio-link">
        <source src="{{ '/assets/audio/y_gear.mp3' | url }}" type="audio/mp3" /></audio
      ><i class="far fa-play-circle"></i>) in the following syllable (usually in an inflectional
      suffix). The presence of the high front vowel in the following syllable caused lower and back
      vowels in the preceeding syllable to move higher in anticipation of pronouncing this high
      front vowel. By the time Old English was spoken, the high vowel in the second syllable or
      inflectional suffix had either disappeared or changed to '<strong>e</strong>', but by
      examining cognate words in related languages, like the Old English '<em>dælan - to divide</em
      >' against the Gothic '<em>dailjan - to divide</em>', we can see that the high vowel
      <strong>[j]</strong> was there in an earlier form of the language. Essentially, the
      <strong>[i]</strong> or <strong>[j]</strong> of the suffix may no longer be present in Old
      English, but its effects on the vowel in the root of the word are still there.
    </p>
    <h3>How does i-mutation work?</h3>
    <p>
      Vowels can be sorted into two categories: <strong>back vowels</strong> and
      <strong>front vowels</strong>. Back vowels are vowels produced with the tongue further back in
      the mouth like <button class="audio-button darkorange-text">[ɑ]</button
      ><audio class="audio-link">
        <source
          src="{{ '/assets/audio/Open_back_unrounded_vowel.mp3' | url }}"
          type="audio/mp3"
        /></audio
      >, <button class="audio-button darkorange-text">[o]</button>,
      <audio class="audio-link">
        <source
          src="{{ '/assets/audio/Close-mid_back_rounded_vowel.mp3' | url }}"
          type="audio/mp3"
        />
      </audio>
      or
      <button class="audio-button darkorange-text">[u]<i class="far fa-play-circle"></i></button>,
      <audio class="audio-link">
        <source src="{{ '/assets/audio/Close_back_rounded_vowel.mp3' | url }}" type="audio/mp3" />
      </audio>
      while front vowels are vowels produced with the tongue in the front of the mouth like
      <button class="audio-button darkorange-text">[i]</button>,<audio class="audio-link">
        <source
          src="{{ '/assets/audio/Close_front_unrounded_vowel.mp3' | url }}"
          type="audio/mp3"
        />
      </audio>
      <button class="audio-button darkorange-text">[e]</button>,
      <audio class="audio-link">
        <source src="{{ '/assets/audio/ei.mp3' | url }}" type="audio/mp3" />
      </audio>
      or
      <button class="audio-button darkorange-text">[æ]<i class="far fa-play-circle"></i></button>
      <audio class="audio-link">
        <source
          src="{{ '/assets/audio/Near-open_front_unrounded_vowel.mp3' | url }}"
          type="audio/mp3"
        /></audio
      >. It can be hard to visualise where a vowel sound is produced, but examine the below diagram
      and try to make the sounds
      <button class="audio-button darkorange-text">[i]</button>
      <audio class="audio-link">
        <source
          src="{{ '/assets/audio/Close_front_unrounded_vowel.mp3' | url }}"
          type="audio/mp3"
        />
      </audio>
      and <button class="audio-button darkorange-text">[o]</button>
      <audio class="audio-link">
        <source
          src="{{ '/assets/audio/Close-mid_back_rounded_vowel.mp3' | url }}"
          type="audio/mp3"
        /></audio
      ><i class="far fa-play-circle"></i>. You should feel your tongue move as you do this, with the
      origin of the sound shifting backwards and lower as you move from <strong>[i]</strong> to
      <strong>[o]</strong>. You can click on any of the dots in the vowel origin chart below to hear
      the related vowel sound.
    </p>
    <div class="text-center">
      {% include "components/vowel-chart.njk" %}
      <audio id="audio-g4104">
        <source
          src="{{ '/assets/audio/Close_front_unrounded_vowel.mp3' | url }}"
          type="audio/mp3"
        />
      </audio>
      <audio id="audio-g4011">
        <source src="{{ '/assets/audio/Close_back_rounded_vowel.mp3' | url }}" type="audio/mp3" />
      </audio>
      <audio id="audio-g4027">
        <source
          src="{{ '/assets/audio/Near-close_near-back_rounded_vowel.mp3' | url }}"
          type="audio/mp3"
        />
      </audio>
      <audio id="audio-g4120">
        <source
          src="{{ '/assets/audio/Near-close_near-front_unrounded_vowel.mp3' | url }}"
          type="audio/mp3"
        />
      </audio>
      <audio id="audio-g4128">
        <source
          src="{{ '/assets/audio/Close-mid_back_rounded_vowel.mp3' | url }}"
          type="audio/mp3"
        />
      </audio>
      <audio id="audio-g4059">
        <source src="{{ '/assets/audio/e.mp3' | url }}" type="audio/mp3" />
      </audio>
      <audio id="audio-g4051">
        <source
          src="{{ '/assets/audio/Near-open_front_unrounded_vowel.mp3' | url }}"
          type="audio/mp3"
        />
      </audio>
      <audio id="audio-g4112">
        <source src="{{ '/assets/audio/Open_back_unrounded_vowel.mp3' | url }}" type="audio/mp3" />
      </audio>
      <audio id="audio-g4201">
        <source src="{{ '/assets/audio/Open_front_unrounded_vowel.mp3' | url }}" type="audio/mp3" />
      </audio>
      <audio id="audio-g4202">
        <source src="{{ '/assets/audio/Open_back_rounded_vowel.mp3' | url }}" type="audio/mp3" />
      </audio>
      <audio id="audio-g4203">
        <source
          src="{{ '/assets/audio/Near-close_near-front_rounded_vowel.mp3' | url }}"
          type="audio/mp3"
        />
      </audio>
      <audio id="audio-g4204">
        <source src="{{ '/assets/audio/Close_front_rounded_vowel.mp3' | url }}" type="audio/mp3" />
      </audio>
      <audio id="audio-g4205">
        <source
          src="{{ '/assets/audio/Open_central_unrounded_vowel.mp3' | url }}"
          type="audio/mp3"
        />
      </audio>
      <audio id="audio-g4096">
        <source src="{{ '/assets/audio/ei.mp3' | url }}" type="audio/mp3" />
      </audio>
    </div>
    <p class="padding-top">
      When a front vowel follows a stressed syllable, low front vowels are ‘raised’ higher in the
      mouth, and back vowels are ‘fronted’ (produced further forward in the mouth). The reason for
      this is the mouth of the speaker gets ready for the high front sound too soon and in the
      process the tongue moves too early, changing the sound created. You can find a full breakdown
      of the vowel changes below. The long vowels
      <button class="audio-button darkorange-text">[ä]<i class="far fa-play-circle"></i></button>,
      <audio class="audio-link">
        <source
          src="{{ '/assets/audio/Open_central_unrounded_vowel.mp3' | url }}"
          type="audio/mp3"
        />
      </audio>
      like in '<em>ærest</em>' and
      <button class="audio-button darkorange-text">[e]<i class="far fa-play-circle"></i></button>,
      <audio class="audio-link">
        <source src="{{ '/assets/audio/ei.mp3' | url }}" type="audio/mp3" />
      </audio>
      like in '<em>cwen</em>' are never subject to i-mutation.
    </p>
    <div class="text-center">
      <table class="static-table table-striped inline-block">
        <tbody>
          <tr>
            <th>original<br />letter</th>
            <th>i-mutated<br />letter</th>
          </tr>
          <tr>
            <td>a</td>
            <td>æ</td>
          </tr>
          <tr>
            <td>am</td>
            <td>em</td>
          </tr>
          <tr>
            <td>æ</td>
            <td>e</td>
          </tr>
          <tr>
            <td>e</td>
            <td>i</td>
          </tr>
          <tr>
            <td>o</td>
            <td>e</td>
          </tr>
          <tr>
            <td>u</td>
            <td>y</td>
          </tr>
          <tr>
            <td>ea</td>
            <td>ie</td>
          </tr>
          <tr>
            <td>eo</td>
            <td>ie</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>
      You have seen i-mutation at work already in the adjectives module when certain adjectives are
      made comparative and superlative. For example, '<em>heah</em>' becomes '<em>hiera</em>' and
      '<em>hiehst</em>'. It is also visible in the singular forms of the irregular verbs
      '<em>gan</em>' and '<em>don</em>', where the vowel in the stem of '<em>gan</em>' changes from
      '<strong>a</strong>' to '<strong>æ</strong>' in second and third person singular
      '<em>gæst</em>'' and '<em>gæþ</em>' and the '<strong>o</strong>' of '<em>don</em>' becomes
      '<strong>e</strong>' in <em>dest</em> and <em>deþ</em>. As you can see, though the suffixes
      containing '<strong>i</strong>' have disappeared in second and third person, the i-mutation of
      the vowel in the root of the word remains.
    </p>
    <h3>Nouns affected by i-mutation</h3>
    <p>
      I-mutation is visible in the root-vowel of the singular dative, nominative plural, and
      accusative plural forms of certain nouns, and many of the nouns affected by i-mutation in Old
      English still decline differently in the plural in modern English. For example, in the
      nominative plural '<em>fot - foot</em>' becomes '<em>fet - feet</em>', '<em>gos - goose</em>'
      becomes '<em>ges - geese</em>', and '<em>toþ - tooth</em>' becomes '<em>teþ - teeth</em>'.
      However, there are some notable exceptions which have i-mutation in Old English, but that have
      been lost in modern English. For example, Old English '<em>boc - book</em>' becomes '<em
        >bec - books</em
      >' and '<em>freond - friend</em>' becomes '<em>friend - friends</em>'.
    </p>
    <div class="row padding-top">
      <div class="col-md-8">
        <div class="grammar-table table-hide">
          <!-- Nav tabs -->
          <ul class="nav tabs three-tabs nav-justified" role="tablist">
            <li role="presentation" class="active">
              <a href="{{ '/#mann' | url }}" aria-controls="mann" role="tab" data-toggle="tab"
                >Mann</a
              >
            </li>
            <li role="presentation">
              <a href="{{ '/#boc' | url }}" aria-controls="boc" role="tab" data-toggle="tab">Boc</a>
            </li>
            <li role="presentation">
              <a href="{{ '/#freond' | url }}" aria-controls="freond" role="tab" data-toggle="tab"
                >Freond</a
              >
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content full">
            <div role="tabpanel" class="text-center tab-pane active full-width" id="mann">
              <table class="tabbed-table table-striped full-width table-hide">
                <tr>
                  <th></th>
                  <th>Singular</th>
                  <th>Plural</th>
                </tr>
                <tr>
                  <td>
                    <strong>Nominative</strong>
                  </td>
                  <td>se mann</td>
                  <td>þa menn</td>
                </tr>
                <tr>
                  <td>
                    <strong>Accusative</strong>
                  </td>
                  <td>þone mann</td>
                  <td>þa menn</td>
                </tr>
                <tr>
                  <td>
                    <strong>Genitive</strong>
                  </td>
                  <td>þæs mannes</td>
                  <td>þara manna</td>
                </tr>
                <tr>
                  <td>
                    <strong>Dative</strong>
                  </td>
                  <td>þæm menn</td>
                  <td>þæm mannum</td>
                </tr>
              </table>
            </div>
            <div role="tabpanel" class="text-center tab-pane full-width" id="boc">
              <table class="tabbed-table table-striped full-width table-hide">
                <tr>
                  <th></th>
                  <th>Singular</th>
                  <th>Plural</th>
                </tr>
                <tr>
                  <td>
                    <strong>Nominative</strong>
                  </td>
                  <td>seo boc</td>
                  <td>þa bec</td>
                </tr>
                <tr>
                  <td>
                    <strong>Accusative</strong>
                  </td>
                  <td>þa boc</td>
                  <td>þa bec</td>
                </tr>
                <tr>
                  <td>
                    <strong>Genitive</strong>
                  </td>
                  <td>þære boce</td>
                  <td>þara boca</td>
                </tr>
                <tr>
                  <td>
                    <strong>Dative</strong>
                  </td>
                  <td>þære bec</td>
                  <td>þæm bocum</td>
                </tr>
              </table>
            </div>
            <div role="tabpanel" class="text-center tab-pane full-width" id="freond">
              <table class="tabbed-table table-striped full-width table-hide">
                <tr>
                  <th></th>
                  <th>Singular</th>
                  <th>Plural</th>
                </tr>
                <tr>
                  <td>
                    <strong>Nominative</strong>
                  </td>
                  <td>se freond</td>
                  <td>þa friend</td>
                </tr>
                <tr>
                  <td>
                    <strong>Accusative</strong>
                  </td>
                  <td>þone freond</td>
                  <td>þa friend</td>
                </tr>
                <tr>
                  <td>
                    <strong>Genitive</strong>
                  </td>
                  <td>þæs freondes</td>
                  <td>þara freonda</td>
                </tr>
                <tr>
                  <td>
                    <strong>Dative</strong>
                  </td>
                  <td>þæm friend</td>
                  <td>þæm freondum</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <button class="solid-button button" id="hide-submit">
          <span class="label-hide">Hide Table</span>
          <span class="label-show hide">Show Table</span>
        </button>
      </div>
      <div class="col-md-4"></div>
    </div>
    <p class="padding-top">You can practice nouns affected by i-mutation below.</p>
    <a href="{{ '/course/weak-minor-and-nouns/minor-nouns/' | url }}" class="float-left darkorange-text padding-top strong">
      <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Minor Nouns
    </a>
    <a href="{{ '/course/weak-minor-and-nouns/overview/' | url }}" class="float-right darkorange-text padding-top strong"
      >Continue to Weak and Minor Nouns Overview
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a>
  </div>
</section>
<hr class="border" />
<section>
  <div>
    <h2>Test Your Declensions</h2>
    <small
      >In the textboxes below, fill out the fully declined version of the word in brackets.</small
    >
  </div>
  <form name="form1" autocomplete="OFF">
    <p>
      <button type="button" class="light-button button special-character" data-char="&thorn;">
        &thorn;
      </button>
      <button type="button" class="light-button button special-character" data-char="&aelig;">
        &aelig;
      </button>
      <button type="button" class="light-button button special-character" data-char="&eth;">
        &eth;
      </button>
      <br class="visible-xs" />
      <sub>Use these buttons to insert thorn, ash and eth when you have an input selected.</sub>
    </p>
    <div id="question-wrapper" data-question-file="wam4_answers.json"></div>
    <div class="form-group">
      <button type="submit" class="solid-button button" id="submit">Check</button>
      <button type="button" class="solid-button button hidden" id="again">Try Again?</button>
    </div>
  </form>
</section>
