<header class="row">
  <nav class="dark-opacity white-text" aria-label="Primary">
    <div class="row remove-margin remove-padding">
      <div class="col-xs-12 remove-padding">
        <div class="logo navelement">
          <a href="{{ '/' | url }}">
            <img src="{{ '/images/logo.png/' | url }}" alt="Old English Online" />
          </a>
        </div>
        <div class="navelement">
          <a href="{{ '/' | url }}" class="hidden-xs hidden-sm">Home</a>
          <a href="{{ '/' | url }}" class="visible-xs visible-sm">
            <i class="fas fa-home text-center" aria-hidden="true"></i>
            <span class="sr-only">Home</span>
            <strong aria-hidden="true">Home</strong>
          </a>
        </div>
        <div class="navelement">
          <a href="{{ '/courseindex/' | url }}" class="hidden-xs hidden-sm">Course Index</a>
          <a href="{{ '/courseindex/' | url }}" class="visible-xs visible-sm">
            <i class="fas fa-list text-center" aria-hidden="true"></i>
            <strong aria-hidden="true">Index</strong>
            <span class="sr-only">Course Index</span>
          </a>
        </div>
        <div class="navelement">
          <a href="{{ '/advpronunciationguide/' | url }}" class="hidden-xs hidden-sm"
            >Pronunciation Guide</a
          >
          <a href="{{ '/advpronunciationguide/' | url }}" class="visible-xs visible-sm">
            <i class="far fa-comment text-center" aria-hidden="true"></i>
            <strong aria-hidden="true">Guide</strong>
            <span class="sr-only">Pronunciation Guide</span>
          </a>
        </div>
        <div class="navelement">
          <a href="{{ '/textselect/' | url }}" class="hidden-xs hidden-sm"
            >Reading Comprehensions</a
          >
          <a href="{{ '/textselect/' | url }}" class="visible-xs visible-sm">
            <i class="fas fa-book-open text-center" aria-hidden="true"></i>
            <strong aria-hidden="true">Texts</strong>
            <span class="sr-only">Reading Comprehensions</span>
          </a>
        </div>
        <div class="navelement">
          <a href="{{ '/about/' | url }}" class="hidden-xs hidden-sm">About</a>
          <a href="{{ '/about/' | url }}" class="visible-xs visible-sm">
            <i class="fas fa-file-code text-center" aria-hidden="true"></i>
            <strong aria-hidden="true">About</strong>
            <span class="sr-only">About</span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
