<header class="row">
  <nav class="dark-opacity white-text" aria-label="Primary">
    <div class="row remove-margin remove-padding">
      <div class="col-xs-12 remove-padding">
        <div class="logo navelement">
          <a href="{{ '/' | url }}">
            <img src="{{ '/images/logo.webp' | url }}" alt="Old English Online" />
          </a>
        </div>
        <div class="navelement">
          <a href="{{ '/' | url }}" class="hidden-xs hidden-sm">Home</a>
          <a href="{{ '/' | url }}" class="visible-xs visible-sm">
            <i class="fas fa-home text-center" aria-hidden="true"></i>
            <span class="sr-only">Home</span>
            <strong aria-hidden="true">Home</strong>
          </a>
        </div>
        <div class="navelement">
          <a href="{{ '/course/' | url }}" class="hidden-xs hidden-sm">Course Index</a>
          <a href="{{ '/course/' | url }}" class="visible-xs visible-sm">
            <i class="fas fa-list text-center" aria-hidden="true"></i>
            <strong aria-hidden="true">Index</strong>
            <span class="sr-only">Course Index</span>
          </a>
        </div>
        <div class="navelement">
          <a href="{{ '/pronunciation/' | url }}" class="hidden-xs hidden-sm">Pronunciation</a>
          <a href="{{ '/pronunciation/' | url }}" class="visible-xs visible-sm">
            <i class="far fa-comment text-center" aria-hidden="true"></i>
            <strong aria-hidden="true">Guide</strong>
            <span class="sr-only">Pronunciation</span>
          </a>
        </div>
        <div class="navelement">
          <a href="{{ '/readings/' | url }}" class="hidden-xs hidden-sm">Readings</a>
          <a href="{{ '/readings/' | url }}" class="visible-xs visible-sm">
            <i class="fas fa-book-open text-center" aria-hidden="true"></i>
            <strong aria-hidden="true">Readings</strong>
            <span class="sr-only">Readings</span>
          </a>
        </div>
        <div class="navelement">
          <a href="{{ '/about/' | url }}" class="hidden-xs hidden-sm">About</a>
          <a href="{{ '/about/' | url }}" class="visible-xs visible-sm">
            <i class="fas fa-file-code text-center" aria-hidden="true"></i>
            <strong aria-hidden="true">About</strong>
            <span class="sr-only">About</span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
